'menu': [
	{
		'label': 'Packages',
		'submenu': [
			'label': 'Space Tab'
			'submenu': [
				{ 'label': 'Convert Tabs to Spaces', 'command': 'space-tab:convert-to-spaces' },
				{ 'label': 'Convert Spaces to Tabs', 'command': 'Convert Spaces to Tabs' }
			]
		]
	}
]
